<!DOCTYPE html>
<html ng-app="mainApp">
  <head>
    <link rel="apple-touch-icon" sizes="57x57" href="./icon/apple-icon-57x57.png"/>
    <link rel="apple-touch-icon" sizes="60x60" href="./icon/apple-icon-60x60.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="./icon/apple-icon-72x72.png"/>
    <link rel="apple-touch-icon" sizes="76x76" href="./icon/apple-icon-76x76.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="./icon/apple-icon-114x114.png"/>
    <link rel="apple-touch-icon" sizes="120x120" href="./icon/apple-icon-120x120.png"/>
    <link rel="apple-touch-icon" sizes="144x144" href="./icon/apple-icon-144x144.png"/>
    <link rel="apple-touch-icon" sizes="152x152" href="./icon/apple-icon-152x152.png"/>
    <link rel="apple-touch-icon" sizes="180x180" href="./icon/apple-icon-180x180.png"/>
    <link rel="icon" type="image/png" sizes="192x192" href="./icon/android-icon-192x192.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="./icon/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="96x96" href="./icon/favicon-96x96.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="./icon/favicon-16x16.png"/>
    <link rel="manifest" href="./icon/manifest.json"/>
    <meta name="msapplication-TileColor" content="#ffffff"/>
    <meta name="msapplication-TileImage" content="./icon/ms-icon-144x144.png"/>
    <meta name="theme-color" content="#ffffff"/>
    <meta charset="UTF-8"/>
    <meta name="description" content="Some have suggested that this game is similar to the card game &quot;Splendor&quot; by Space Cowboys."/>
    <meta name="author" content="Moritz Company"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-touch-fullscreen" content="yes"/>
    <title>Battle</title>
    <link rel="stylesheet" href="inc/main.css">
    <script src="inc/angular.js"></script>
  </head>
  <body ng-cloak ng-controller="MainCtrl" ng-class="state">
    <div class="container">
      <header class="hide">
        <h1>Battle</h1>
      </header>
      <div class="main-stage">
        <div class="stage-left"></div>
        <div class="center-stage">
          <div ng-show="activeGame.message" class="alert notify-box alert-{{activeGame.message.type}}">{{activeGame.message.text}}</div>
          <div class="main-content">
            <div ng-if="state == &quot;welcome&quot;" class="welcome">
              <div ng-hide="currentUser">
                <button ng-click="googleLogin()" class="btn btn-danger btn-lg facebook-login">Login with Google</button><br/>
                <button ng-click="fbLogin()" class="btn btn-primary btn-lg facebook-login">Login with Facebook</button>
              </div>
            </div>
            <div ng-if="state == &quot;joinGame&quot;" class="pre-game row">
              <section class=" col-xs-6">
                <h3>Choose a game:</h3>
                <div ng-show="currentUser" ng-repeat="game in joinableGames track by $index" ng-click="joinActiveGame(game)" class="btn btn-info">{{game.name}}</div>
                <h3>Or create a new one:</h3>
                <div ng-click="createNewGame()" class="btn btn-success">Create new game</div>
              </section>
              <section class=" col-xs-6">
                <h3>Message List:</h3>
                <ul class="well">
                  <li ng-repeat="message in chatList track by $index">{{message.user}}: {{message.text}}</li>
                </ul>
                <form name="chatWindow" ng-submit="submitChat()">
                  <input ng-model="ff.chat" placeholder="respond to chat" class="form-control"/>
                  <button ng-hide="true" type="submit"></button>
                </form>
              </section>
            </div>
            <div ng-if="state == &quot;startGame&quot;" class="pre-game row">
              <section class=" col-xs-6">
                <h3>Players:</h3>
                <ul>
                  <li ng-repeat="player in activeGame.playerNames track by $index">{{player}}</li>
                </ul>
                <button ng-click="addEvent(&quot;startGame&quot;)" class="btn btn-success">Start the game</button>
              </section>
            </div>
            <div ng-if="state == &quot;chooseBattle&quot;" class="row">
              <section class=" col-xs-6">
                <h3>Cards:</h3>
                <ul class="cards">
                  <li ng-repeat="card in user.deck.heldCards" ng-click="selectCard(card)" class="held-card">
                    <div class="card-img small {{card.color}} {{card.selected ? &quot;selected&quot; : &quot;&quot;}}">
                      <div class="card-value">{{card.value}}</div>
                    </div>
                  </li>
                </ul>
                <div ng-disabled="!user.deck.submittable" ng-click="submitCards()" class="btn btn-success">Submit</div>
                <h3>Battle Value: {{user.deck.battleValue}}</h3>
              </section>
              <section class=" col-xs-6">
                <h3>Other Players:</h3>
                <ul class="players">
                  <li ng-repeat="player in allPlayers" ng-hide="player.uid == currentUser.uid">{{player.name}}
                    <button ng-hide="battleHistory[getBattleCount()][player.uid]" class="btn btn-danger">Not Ready</button>
                    <button ng-show="battleHistory[getBattleCount()][player.uid]" class="btn btn-success">Ready</button>
                  </li>
                </ul>
              </section>
            </div>
            <div ng-if="state == &quot;determineWinner&quot;" class="row">
              <section class=" col-xs-6">
                <h3>Players</h3>
                <ul class="players">
                  <li ng-repeat="player in allPlayers">{{player.name}}: {{player.battlePower}}<span ng-show="player.winner" class="winner">WINNER</span>
                    <ul class="cards">
                      <li ng-repeat="card in battleHistory[getBattleCount() - 1][player.uid]" class="held-card">
                        <div class="card-img small {{card.color}}">
                          <div class="card-value">{{card.value}}</div>
                        </div>
                      </li>
                    </ul>
                    <hr/>
                  </li>
                </ul>
                <button ng-click="changeState(&quot;chooseBattle&quot;)" class="btn btn-success">Next Battle</button>
              </section>
            </div>
          </div>
        </div>
        <div class="stage-right"></div>
      </div>
      <div class="current-user-cards"></div>
    </div>
    <script src="inc/lib.js"></script>
    <script src="inc/main.js"></script>
    <script id="viewcardModal" type="text/ng-template">
      <div class="modal-header">
        <div ng-click="cancel()" class="close">&times;</div>
        <h3>{{card.name}}</h3>
      </div>
      <div class="modal-body row card-modal-body">
        <div title="{{card.name}}: {{card.description}}" class="card-img large {{card.color}} {{card.class}} held-card {{card.selected ? &quot;selected&quot; : &quot;&quot;}}"></div>
        <div class="card-information">
          <h4>Class: {{card.class}}</h4>
          <h4>Value: {{card.value}}</h4>
          <h4>Color: {{card.color}}</h4>
          <h4>Id: {{card.id}}</h4>
          <h4 ng-show="card.story">Story:</h4>
          <p>{{card.story}}</p>
        </div>
      </div>
    </script>
  </body>
</html>
<!--		| <script src="inc/lib.js"></script><script src="inc/main.js"></script>-->