mixin welcome()
	.welcome(ng-if='state == "welcome"')
		div(ng-hide='currentUser')
			button.btn.btn-danger.btn-lg.facebook-login(ng-click='googleLogin()') Login with Google
			br
			button.btn.btn-primary.btn-lg.facebook-login(ng-click='fbLogin()') Login with Facebook

mixin joinGame()
	.pre-game.row(ng-if='state == "joinGame"')
		+col(6)
			h3 Choose a game:
			.btn.btn-info(ng-show='currentUser' ng-repeat='game in joinableGames track by $index' ng-click='joinActiveGame(game)') {{game.name}}
			h3 Or create a new one:
			.btn.btn-success(ng-click='createNewGame()') Create new game
		+col(6)
			h3 Message List:
			ul.well
				li(ng-repeat='message in chatList track by $index') {{message.user}}: {{message.text}}
			form(name='chatWindow' ng-submit='submitChat()')
				input.form-control(ng-model='ff.chat' placeholder='respond to chat')
				button(ng-hide='true' type='submit')

mixin startGame()
	.pre-game.row(ng-if='state == "startGame"')
		+col(6)
			h3 Players:
			ul
				li(ng-repeat='player in activeGame.playerNames track by $index') {{player}}
			button.btn.btn-success(ng-click='addEvent("startGame")') Start the game

mixin chooseBattle()
	.row(ng-if='state == "chooseBattle"')
		+col(6)
			h3 Cards:
			ul.cards
				li.held-card(ng-repeat='card in user.deck.cards' ng-click='selectCard(card)')
					.card-img.small(class='{{card.color}} {{card.class}} {{card.selected ? "selected" : ""}}')
			.btn.btn-success(ng-disabled='!user.deck.submittable' ng-click='submitCards()') Submit
			h3 Battle Value: {{user.deck.battleValue}}