mixin welcome()
	.welcome(ng-if='state == "welcome"')
		div(ng-hide='currentUser')
			button.btn.btn-danger.btn-lg.facebook-login(ng-click='googleLogin()') Login with Google
			br
			button.btn.btn-primary.btn-lg.facebook-login(ng-click='fbLogin()') Login with Facebook

mixin joinGame()
	.pre-game.row(ng-if='state == "joinGame"')
		+col(6)
			h3 Choose a game:
			.btn.btn-info(ng-show='currentUser' ng-repeat='game in joinableGames track by $index' ng-click='joinActiveGame(game)') {{game.name}}
			h3 Or create a new one:
			.btn.btn-success(ng-click='createNewGame()') Create new game
		+col(6)
			h3 Message List:
			ul.well
				li(ng-repeat='message in chatList track by $index') {{message.user}}: {{message.text}}
			form(name='chatWindow' ng-submit='submitChat()')
				input.form-control(ng-model='ff.chat' placeholder='respond to chat')
				button(ng-hide='true' type='submit')

mixin startGame()
	.pre-game.row(ng-if='state == "startGame"')
		+col(6)
			h3 Players:
			ul
				li(ng-repeat='player in activeGame.playerNames track by $index') {{player}}
			button.btn.btn-success(ng-click='addEvent("startGame")') Start the game

mixin chooseBattle()
	.row(ng-if='state == "chooseBattle"')
		+col(10)
			div(ng-if='!waiting')
				h3 Resources:
				ul.cards
					li.played-card(ng-repeat='card in resources.available')
						img.card-img(src='img/{{card.image}}' title='{{card.title}}')
				h3 Cards:
				ul.cards
					li.held-card(ng-repeat='card in user.deck.heldCards' ng-click='selectCard(card)')
						.card-img.battle.small(class='{{card.color}} {{card.selected ? "selected" : ""}}' ng-hide='card.group')
							.card-value {{card.value}}
						img.card-img.small(src='img/progress_{{card.rank}}_{{card.group}}.png' title='{{card.description}}' class='{{card.selected ? "selected" : ""}}' ng-if='card.group')
				.btn.btn-success(ng-disabled='user.deck.selectedCards.length != 3' ng-click='submitCards()') Submit
				h3 Battle Value: {{user.deck.battleValue}}
			h3(ng-if='waiting') Waiting for other players
		+col(2)
			h4 Other Players:
			ul.players
				li(ng-repeat='player in allPlayers' ng-hide='player.uid == currentUser.uid') {{player.name}}
					.alert.alert-danger(ng-hide='submitBattleHistory[getEventCount("submitBattle")][player.uid]') Not Ready
					.alert.alert-success(ng-show='submitBattleHistory[getEventCount("submitBattle")][player.uid]') Ready

mixin determineWinner()
	.row(ng-if='state == "determineWinner"')
		+col(8)
			.alert.alert-success(ng-if='currentPlayer.uid == user.uid') Choose a resource card!
			.alert.alert-warning(ng-if='currentPlayer.uid != user.uid') {{currentPlayer.name}} must choose a resource card
			h3 Resources:
			ul.cards
				li.played-card(ng-repeat='card in resources.available' ng-click='chooseResource(card)')
					img.card-img(src='img/{{card.image}}' title='{{card.title}}')
		+col(4)
			h3 Players
			ul.players
				li(ng-repeat='player in allPlayers') {{player.name}}: {{player.battlePower}}
					span.winner(ng-show='player.winner') WINNER
					ul.cards
						li.held-card(ng-repeat='card in submitBattleHistory[getEventCount("submitBattle") - 1][player.uid].cards')
							.card-img.battle.small(class='{{card.color}}' ng-hide='card.group')
								.card-value {{card.value}}
							img.card-img.small(src='img/progress_{{card.rank}}_{{card.group}}.png' title='{{card.description}}' ng-if='card.group')
					hr

mixin upgrade()
	.row(ng-if='state == "upgrade"')
		+col(8)
			div(ng-if='!waiting')
				h3 Choose your upgrade
				ul.upgrades.cards
					li.held-card(ng-repeat='card in user.deck.upgradeCards' ng-click='user.affordUpgrade(card) ? selectCard(card) : ""' ng-disabled='!user.affordUpgrade(card)')
						.card-img(class='{{user.color}} {{card.class}} {{card.selected ? "selected" : ""}}')
						.upgrade-card-inside(title='{{card.name}}')
				.btn.btn-success(ng-disabled='!user.upgradable' ng-click='upgradeCards()') Upgrade
			h3(ng-if='waiting') Waiting for other players
		+col(4)
			h3 Other Players:
			ul.players
				li.tally(ng-repeat='player in allPlayers' ng-hide='player.uid == currentUser.uid')
					.left
						span {{player.name}}
						button.btn.btn-danger(ng-hide='upgradeHistory[getEventCount("upgrade")][player.uid]') Not Ready
						button.btn.btn-success(ng-show='upgradeHistory[getEventCount("upgrade")][player.uid]') Ready
					.right
						.tally(ng-repeat='(name, corp) in player.corp' class='{{name}}')
							span.marking {{name | limitTo: 1 | uppercase}}:
							.corp.circle(ng-repeat='i in upgrades.military | limitTo: corp.level' class='{{name}}')