.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.play-card-display-holder {
	clear: both;
	display: flex;
	justify-content: space-around;
	.play-card-display {
		border-right: solid 1px gray;
		flex: 2;
	}
}
.active-card {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.held-card {
	cursor: pointer;
}
.played-card,
.recruit-card,
.ability,
.held-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 3px;
	border-radius: 5px;
	padding: 5px;
	&.small {
		padding: 2px;
	}
	&.support-section {
		position: absolute;
		margin: -6px 25px;
		display: flex;
		justify-content: flex-end;
		.item {
			border: dashed 1px;
			border-radius: 5px;
			height: 32px;
			padding: 0 3px;
			margin: 3px;
			width: 35px;
			background-color: rgba(255, 255, 255, 0.5);
		}
	}
	&.relative {
		position: relative;
	}
	.card-name {
		font-size: 16px;
		margin: 0 0 12px 27px;
		width: 100px;
		text-align: center;
		background: rgba(220, 220, 220, 0.7);
	}
	.card-info {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		.strength {
			display: inline-block;
			min-width: 10px;
			padding: 4px 10px;
			font-size: 13px;
			font-weight: bold;
			color: black;
			vertical-align: middle;
			white-space: nowrap;
			text-align: center;
			border-radius: 13px;
			&.small {
				min-width: 7px;
				padding: 2px 5px;
				font-size: 10px;
			}
		}
	}
}
.bgpos(@val) {
	&.spades {
		background-position: (@val * 90 + 9) -11px;
		&.small {
			background-position: (@val * 45 + 4) -5px}
		&.large {
			background-position: (@val * 180 + 18) -21px}
	}
	&.clubs {
		background-position: (@val * 90 + 9) -148px;
		&.small {
			background-position: (@val * 45 + 4) -74px}
		&.large {
			background-position: (@val * 180 + 18) -295px}
	}
	&.diamonds {
		background-position: (@val * 90 + 9) -287px;
		&.small {
			background-position: (@val * 45 + 4) -143px}
		&.large {
			background-position: (@val * 180 + 18) -573px}
	}
	&.hearts {
		background-position: (@val * 90 + 9) -426px;
		&.small {
			background-position: (@val * 45 + 4) -213px}
		&.large {
			background-position: (@val * 180 + 18) -851px}
	}
}
.card-img {
	box-shadow: black 0 0 10px 0;
	width: 89px;
	height: 125px;
	background-image: url(../img/z-cards.png);
	&.selected {
		box-shadow: yellow 0 0 10px 0;
	}
	&.small {
		width: 44px;
		height: 62px;
		background-image: url(../img/z-cards-sm.png);
	}
	&.large {
		width: 178px;
		height: 251px;
		background-image: url(../img/z-cards-lg.png);
	}
	&.two{ .bgpos(1px) }
	&.three{ .bgpos(2px) }
	&.four{ .bgpos(3px) }
	&.five{ .bgpos(4px) }
	&.six{ .bgpos(5px) }
	&.seven{ .bgpos(6px) }
	&.eight{ .bgpos(7px) }
	&.nine{ .bgpos(8px) }
	&.ten{ .bgpos(9px) }
	&.jack{ .bgpos(10px) }
	&.queen{ .bgpos(11px) }
	&.king{ .bgpos(12px) }
	&.ace{ .bgpos(13px) }
}