include utils/mixins
include utils/main-content

doctype html
html(ng-app='mainApp')
	head
		+meta()
		title Battle
		link(rel='stylesheet', href='inc/main.css')
		script(src='inc/angular.js')
	body(ng-cloak, ng-controller='MainCtrl' ng-class='state')
		.container()
			header.hide
				h1 Battle
			.main-stage
				.stage-left
				.center-stage
					+notify()
					.main-content
						+joinGame()
				.stage-right
			.current-user-cards
		script(src='inc/lib.js')
		script(src='inc/main.js')
		//- Modals should be used for reference only!
		script#viewcardModal(type='text/ng-template')
//		| @@javascriptReplaceFiles
