include utils/mixins
include utils/main-content

doctype html
html(ng-app='mainApp')
	head
		+meta()
		title Battle
		link(rel='stylesheet', href='inc/main.css')
		script(src='inc/angular.js')
	body(ng-cloak, ng-controller='MainCtrl' ng-class='state')
		.container()
			header.hide
				h1 Battle
			.main-stage
				.stage-left
				.center-stage
					+notify()
					.main-content
						+welcome()
						+joinGame()
						+startGame()
						+chooseBattle()
						+determineWinner()
						+upgrade()
				.stage-right
			+current-user-corp()
		script(src='inc/lib.js')
		script(src='inc/main.js')
		//- Modals should be used for reference only!
		script#viewcardModal(type='text/ng-template')
			.modal-header
				+close()
				h3 {{card.name}}
			.modal-body.row.card-modal-body
				.card-img.large(class='{{card.color}} {{card.class}} held-card {{card.selected ? "selected" : ""}}' title='{{card.name}}: {{card.description}}')
				.card-information
					h4 Class: {{card.class}}
					h4 Value: {{card.value}}
					h4 Color: {{card.color}}
					h4 Id: {{card.id}}
					h4(ng-show='card.story') Story:
					p {{card.story}}
		script#selectresourcesModal(type='text/ng-template')
			.modal-header
				+close()
				h3 Select {{count}} Resouce{{count == 1 ? "" : "s"}} for payment &amp; Progress Card
			.modal-body.row.card-modal-body
				ul.resource-list.col-xs-12
					li.card-img(ng-repeat='res in resources' ng-click='select(res)' class='{{res.selected ? "selected" : ""}}')
						img.img-responsive(src='img/basic_{{res.name}}.png')
			.modal-footer
				ul.cards.col-xs-12
					li.played-card(ng-repeat='card in progressCards' ng-click='select(card)')
						img.card-img(src='img/progress_{{card.rank}}_{{card.group}}.png' class='{{card.selected ? "selected" : ""}}' title='{{card.description}}')
						h5.text-center {{card.name}}
				.btn.btn-success.btn-lg(ng-click='choose()' ng-disabled='!chooseable()') Choose
//		| @@javascriptReplaceFiles
